<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>tinyShop</title>
<meta charset="utf-8">

<!-- Latest compiled and minified bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional bootstrap theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link href="./app.css" rel='stylesheet' type='text/css'>

  <script src="./angular.js"></script>
  <script src="./app.js"></script>


</head>
<body ng-cloak ng-controller="tinyShop" class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Your account: 
                <select id="currentAccount" name="currentAccount" class="form-control"
                    ng-model="selectedAccount"
                    ng-change="changeAccounts(selectedAccount)">
                    <option ng-repeat="_account in accounts" ng-selected="_account == account" value="{{_account}}">{{_account}}</option>
                </select>
            </h4>
            <p class="card-text">Your Balance: {{ balance }} ({{ balanceInEth }} Ether)</p>
        </div>
    </div>
    <div id="products" class="row">
        <div class="col-md-12">
            <h3>Buy Products</h3>
            <p>There are {{ products.length }} Product/s</p>
        </div>
        <div class="product col-md-4" ng-repeat="product in products">
            <h2>{{ product.productName }}</h2>
            <p>{{ product.productPrice }} Wei / {{ product.productPriceInEth }} Ether</p>
            <p>Stock: {{ product.currentStock }}</p>
            <button class="btn btn-primary" 
                    ng-hide="product.currentStock <= 0 || product.titleHolder == account" 
                    ng-click="buyProduct(product.product)">
                    Buy One</button>
            <div ng-show="product.myBalance > 0">
              <button class="btn btn-secondary">Withdraw Funds</button>
              <p>My Balance: {{product.myBalance}}</p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="productOwners[account].length > 0">
        <div class="col-md-12">
            <h3>Your Products</h3>
        </div>
        <div class="product col-md-4" ng-repeat="product in productOwners[account]">
            <!-- edit form for product info -->
            <!-- transfer ownership of product -->
            <!-- withdraw funds from product -->
            <h2>{{ product.productName }}</h2>
            <p>{{ product.productPrice }} Wei</p>
            <p>Stock: {{ product.currentStock }}</p>
            <p><em>from: {{ product.titleHolder }}</em></p>
        </div>
    </div>

    <div ng-show="isAdmin">
      <h2>Add New Products</h2>
        <form id="newProductForm" class="form-group" ng-submit="createProduct()">
            <div class="form-group">
                <label for="titleHolder">Product Owner</label>
                <select id="titleHolder" name="titleHolder" class="form-control" required
                    ng-model="newProduct.titlee">
                    <option value="">--SELECT--</option>
                    <option ng-repeat="account in accounts" value="{{account}}">{{account}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" id="name" name="name" class="form-control" ng-model="newProduct.name" required />
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="price">Price</label>
                    <input type="number" id="price" name="price" class="form-control" ng-model="newProduct.price" required />
                </div>
                <div class="form-group col-md-6">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" ng-model="newProduct.quantity" required />
                </div>
            </div>
            <input type="submit" class="btn btn-secondary" value="Create Product" />
        </form>
    </div>

    <div ng-show="contract.owner == account">
      <p>Add new admins</p>
    </div>

    <script>
        window.addEventListener('load', function() {
            angular.bootstrap(document, ['tinyShop'])
        });
    </script>
</body>
</html>
